@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.App {
  text-align: center;
}

.jumbotron {
  background-image: url(https://1.bp.blogspot.com/-Xs_m8-LyJ98/V9G3cRLeD5I/AAAAAAAACss/9KGkxk-H5aEDTTEpG4ctdIuU0BVA1whlwCLcB/s1600/guis%2Bfiction.JPG);
  height: 500px;
  padding-top: 250px;
  min-height:100%;
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://1.bp.blogspot.com/-Xs_m8-LyJ98/V9G3cRLeD5I/AAAAAAAACss/9KGkxk-H5aEDTTEpG4ctdIuU0BVA1whlwCLcB/s1600/guis%2Bfiction.JPG);
  background-size:cover;
}

.jumboTitle {
  font-family: 'DM Serif Display', serif;
  font-weight: bolder;
  font-size: 80px;
}

